<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <script src = "../public/js/jquery.js"></script>
    <link href="../public/css/bootstrap.min.css" rel="Stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../public/css/sidebar.css" rel="stylesheet">
    <link href="../public/css/ClinicianDash.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="../public/js/loadgraph.js "></script>

</head>
<body>
<div class="wrapper">
    <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar" >
            <ul class="nav" id="menu">
                <li style="text-align: center"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span class="collapse in hidden-xs">Breathe Hero</span></a></li>
                <li><a href="/AdminDash"><span class="collapse in hidden-xs">Dashboard</span> <i style="float: right;"
                                                                                                 class="fa fa-list"></i> </a></li>
                <li><a href="/AdminSignup"><span class="collapse in hidden-xs">Sign up</span> <i style="float: right;"
                                                                                                 class="fa fa-list"></i>
                <li><a href="/logout"><span class="collapse in hidden-xs">Logout</span> <i style="float:right;"
                                                                                           class="fa fa-sign-out"
                                                                                           aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
        <!-- /sidebar -->

        <div style="padding-left: 17%; text-align:left" class="container">
            <h1 class="well">Registration Form for new Admins</h1>
            <div class="col-lg-12 well">
                <div class="row">
                    <form method="post"  enctype="application/x-www-form-urlencoded" name="SignupClinician" action="/AdminSignup">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input name = "first_name" type="text" required placeholder="Enter First Name Here.." class="form-control">
                                </div>
                                <div class=" form-group">
                                    <label>Last Name</label>
                                    <input name = "last_name" type="text" required placeholder="Enter Last Name Here.." class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email Address</label>
                                <input name = "email" type="text" required placeholder="Enter Email Address " class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Username</label>
                                <input name = "username" type="text" required placeholder="Enter User Name " class="form-control">
                            </div>
                            <div class="row">
                                <div class=" form-group">
                                    <label>Password</label>

                                    <input name="password" type="password" required placeholder="Enter Password " class="form-control">
                                </div>
                                <div class=" form-group">
                                    <label>Repeat Password</label>

                                    <input name = "confirm_password" required type="password" placeholder="Repeat Password " class="form-control">
                                </div>

                            </div>
                            <button  class="btn btn-lg btn-info">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <% if (message.length > 0) { %>
            <div style="text-align: center;"><h3 style="color:black"><%= message %></h3></div>
            <% } %>
        </div>
    </div>
</div>
</body>