<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link href="../public/css/bootstrap.min.css" rel="Stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../public/css/sidebar.css" rel="stylesheet">
    <link href="../public/css/ClinicianDash.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

</head>
<body>
<div class="wrapper">
    <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
            <ul class="nav" id="menu">
                <li style="text-align: center"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span class="collapse in hidden-xs">Breathe Hero</span></a></li>
                    <li><a href="/AdminDash"><span class="collapse in hidden-xs">Pending Clinicians</span> <i style="float: right;"
                        class="fa fa-list"></i> </a></li>
                    <li><a href="/AccountManagement"><span class="collapse in hidden-xs">Account Management</span> <i style="float: right;"
                           class="fa fa-list"></i> </a></li>  
                <li><a href="/AdminSignup"><span class="collapse in hidden-xs">Sign up</span> <i style="float: right;"
                                                                                                 class="fa fa-list"></i>
                </a></li>
                <li><a href="/api/game" download="BreatheHero-Setup.exe"> <span class="collapse in hidden-xs">Download Game</span> <i style="float: right;" class ="fa fa-download"></i></a>
                </li>
                <li><a href="/logout"><span class="collapse in hidden-xs">Logout</span> <i style="float:right;"
                                                                                           class="fa fa-sign-out"
                                                                                           aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
        <!-- /sidebar -->

        <div class = "container"> 
            <h1 style="text-align: center; font-size: 38">Account Management</h1>
                <table id="accounts-table"
                    data-toggle="table"
                    data-url="api/AllAccounts"
                    data-height="400"
                    data-width="200px"
                    data-side-pagination="server"
                    data-pagination="true"
                    data-page-list="[5, 10, 20]"
                    data-search="true"
                    data-toolbar="#toolbar"
                    data-show-refresh="true"
                    data-show-toggle="true"
                    data-show-columns="true"
                    data-show-export="true"
                    data-show-pagination-switch="true"
                >   
                    <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="user_id">User ID</th>
                            <th data-field="username">Username</th>
                            <th data-field="email">Email</th>
                            <th data-field="first_name">First Name</th>
                            <th data-field="last_name">Last Name</th>
                        </tr>
                    </thead>
                </table>

                <div style=" margin: 0.8%; text-align: center ; float:right">
                        <button value="submit" class="btn btn-success" onclick="view()" >View Account </button>
                        <button value="delete" class="btn btn-danger" onclick="remove()" >Delete Accounts </button>
                </div>
        </div>
    </div>
</div>



<script type="text/javascript" src ="../public/js/AdminDash.js"></script>