<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <script src = "../public/js/jquery.js"></script>
    <script src="../public/js/bootstrap.js" ></script>
    <link href="../public/css/bootstrap.min.css" rel="Stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../public/css/sidebar.css" rel="stylesheet">
    <link href="../public/css/ClinicianDash.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <link href="../public/css/ClinicianDash.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="../public/js/loadgraph.js "></script>
    <script src="../public/js/ClinicianDash.js"></script>
</head>

<body>
<div class="wrapper">
    <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar" >
            <ul class="nav" id="menu">
                <li style="text-align: center"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span class="collapse in hidden-xs">Breathe Hero</span></a></li>
                <li><a href="/ClinicianDash"><span class="collapse in hidden-xs">Dashboard</span> <i style="float: right;"
                                                                                        class="fa fa-list"></i> </a></li>
                <li><a href="/SignUpPatient"><span class="collapse in hidden-xs">Patient Registration</span> <i style="float: right;"
                    class="fa fa-list"></i> </a></li>
                    
                <li><a href="/api/game" download="BreatheHero-Setup.exe"> <span class="collapse in hidden-xs">Download Game</span> <i style="float: right;" class ="fa fa-download"></i></a>
                </li>

                <li><a href="/logout"><span class="collapse in hidden-xs">Logout</span> <i style="float:right;"
                                                                                           class="fa fa-sign-out"
                                                                                           aria-hidden="true"></i>
                    </a></li>
            </ul>
        </div>
        <!-- /sidebar -->

        <div class="container" >
            <table id="table"
                    data-toggle="table"
                    data-url="api/ClinicalData/"
                    data-height="400"
                    data-width = "200px"
                    data-side-pagination="server"
                    data-pagination="true"
                    data-page-list="[5, 10, 20]"
                    data-search="true"
                    data-row-style="getUserStats"
                    data-toolbar="#toolbar"
                    data-show-refresh="true"
                    data-show-toggle="true"
                    data-show-columns="true"
                    data-show-export="true"
                    data-show-pagination-switch="true"
                   >
                <thead>
                <tr>
                    <th data-field="user_id">ID</th>
                    <th data-field="username">Username</th>
                    <th data-field="email">Email</th>
                    <th data-field="first_name">First Name</th>
                    <th data-field="last_name">Last Name</th>
                    <th data-field="activity">Activity</th>

                </tr>
                </thead>
            </table>
        </div>

        <!-- The Modal -->
        <div id="graphModal" style="margin: auto; width: 65% ;height: 100%;text-align: center" class="modal">

            <!-- Modal content -->
            <div class="modal-content" style="width: 100%; height: 100%; text-align: center;" >
                <span class="closeGraphModal">&times;</span>
                <h3 id="title" style="font-size:1.5vw;"> Title </h3>
                <!-- /main -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#uploadTab" aria-controls="uploadTab" role="tab" data-toggle="tab">User Data</a>

                    </li>
                    <li role="presentation"><a href="#browseTab" id="#prescriptions" aria-controls="browseTab" role="tab" data-toggle="tab">Prescriptions</a>

                    </li>
                    <li role="presentation"><a href="#gameTab" id="#game" aria-controls="gameTab" role="tab" data-toggle="tab">Game Settings</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="uploadTab">  <div style=" text-align: center; height: 100%; width: 100%; margin: auto;" id ="graph-container">
                        <div style = "overflow-x:auto; height: 80%;"> 
                            <canvas style="margin:auto; height: 80%;" id="myChart"></canvas>
                        </div>
                        </div></div>
                    <div role="tabpanel" class="tab-pane" id="browseTab">
                        <h4 id="title">Current Daily User Requirements</h4>
                        <div class="header" >
                            <label for="stime">Current daily CPT time (minutes)</label>
                            <p id = "stime"></p>
                            <label for="spressure">Current prescribed CPT pressure (cmH2O)</label>
                            <p id = "spressure"></p>
                            <br>
                            <br>
                        </div>
                        <h4> Set new user Values</h4>
                        <form method="post" style="text-align: left" onsubmit="sent" action="/api/UserRequirements">


                            <label style="display: none" for="userId"> User </label>
                            <input style="display: none" type="number"  id ="userId"   name="userId" readonly>
                            <label for="NewTime">New daily CPT time (minutes)</label>
                            <input type="number" id="NewTime" step="0.01" name="new_time" placeholder="New Time">

                            <label for="NewPressure">New prescribed CPT pressure (cmH2O)</label>
                            <input type="number" id="NewPressure" step="0.01" name="new_pressure" placeholder="New Pressure">



                            <input type="submit" value="Submit">
                            <input type="Cancel" onclick="onCancelClick()" class="btn-danger" value="Cancel">
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="gameTab">
                        <div>
                            <h4 id="game-status">
                                Loading....
                            </h4>
                        </div>

                        <div style="padding: 5%">
                            <button class="btn btn-primary btn-lg position-static" type="button" onclick="updateUserGameStatus()">Toggle Game Availablility</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-dismiss="modal" style="display: none; width: 100%; height: 100%; margin: auto;"  data-toggle="modal"  id="patientInfo">
    <h4>Click on the graph elements for more information.</h4>
</div>
</div>
</div>


<!-- /main -->

<div class="modal" id="myModal2" data-backdrop="" style="opacity: 100; padding-top:8%; font-weight:bold; height: 100%; width:100%;">
    <div class="modal-dialog" >
        <div class="modal-content" style="background: peachpuff">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">×</button>
                <h4 class="modal-title">Advanced Data</h4>
            </div>
            <div class="container" style ="width: 100%; height: 100%; margin: auto;">
                <div class="modal-body" style="opacity: 1; height: 100%; width: 100%; margin: auto;">

                    <p id = "session_start"></p>
                    <p id = "average_exhl_pressure"></p>
                    <p id = "average_exhl_time"> </p>
                    <p id = "successful_breaths"></p>
                    <p id = "successful_huff_coughs"></p>
                    <p id="unsuccessful_breaths_pressure"></p>
                    <p id="unsuccessful_breaths_time"></p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>





