<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <script src = "../public/js/jquery.js"></script>
    <link href="../public/css/bootstrap.min.css" rel="Stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../public/css/sidebar.css" rel="stylesheet">
    <link href="../public/css/ClinicianDash.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
     <script src="../public/js/loadgraph.js "></script>

</head>
<body>
<div class="wrapper">
    <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar" >
            <ul class="nav" id="menu">
                <li style="text-align: center"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span class="collapse in hidden-xs">Breathe Hero</span></a></li>
                <li><a href="/dashboard"><span class="collapse in hidden-xs">Dashboard</span> <i style="float: right;"
                                                                                                 class="fa fa-list"></i> </a></li>
                <li><a href="/logout"><span class="collapse in hidden-xs">Logout</span> <i style="float:right;"
                                                                                           class="fa fa-sign-out"
                                                                                           aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
        <!-- /sidebar -->

        <div class="container" style="width: 500px; height: 500px; margin: auto">
            <table id="table"
                   data-toggle="table"
                   data-url="http://localhost:8080/api/ClinicalData/"
                   data-height="400"
                   data-width = "200px"
                   data-side-pagination="server"
                   data-pagination="true"
                   data-page-list="[5, 10, 20, 50, 100, 200]"
                   data-search="true">
                <thead>
                <tr>
                    <th data-field="user_id">ID</th>
                    <th data-field="username">Username</th>
                    <th data-field="email">Email</th>
                    <th data-field="first_name">First Name</th>
                    <th data-field="last_name">Last Name</th>

                </tr>
                </thead>
            </table>
        </div>
        <!-- Trigger/Open The Modal -->
        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content"  >
                <span class="close">&times;</span>
            <!-- /main -->

            <canvas style="    position: absolute;
    top:0;
    bottom: 30%;
    left: 0;
    right: 0;
    margin:auto;" id="myChart"></canvas>
            </div>

        </div>

    </div>


</div>


<!-- /main -->
</body>

</html>

<script>
    $('.container').on("click", "#table tr", function(){
        $(this).addClass('selected').siblings().removeClass('selected');
        var value=$(this).find('td:first').html();
        console.log(value);

        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        modal.style.display = "block";
        $(".bootstrap-table").hide();

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
            $(".bootstrap-table").toggle();
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                $(".bootstrap-table").toggle();
            }
        }
    });



</script>