<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <script src = "../public/js/jquery.js"></script>
    <script src="../public/js/bootstrap.js" ></script>
    <link href="../public/css/bootstrap.min.css" rel="Stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../public/css/sidebar.css" rel="stylesheet">
    <link href="../public/css/ClinicianDash.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="../public/js/loadgraph.js "></script>

            </head>
<body>
<div class="wrapper">
    <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar" >
            <ul class="nav" id="menu">
                <li style="text-align: center"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span class="collapse in hidden-xs">Breathe Hero</span></a></li>
                <li><a href="#"><span class="collapse in hidden-xs">Dashboard</span> <i style="float: right;"
                                                                                                 class="fa fa-list"></i> </a></li>
                <li><a href="/UserSettingsDashboard"><span class="collapse in hidden-xs">User Requirements</span> <i style="float: right;"
                                                                                        class="fa fa-list"></i> </a></li>
                <li><a href="/logout"><span class="collapse in hidden-xs">Logout</span> <i style="float:right;"
                                                                                           class="fa fa-sign-out"
                                                                                           aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
        <!-- /sidebar -->

        <div class="container" >
            <table id="table"
                   data-toggle="table"
                   data-url="api/ClinicalData/"
                   data-height="400"
                   data-width = "200px"
                   data-side-pagination="server"
                   data-pagination="true"
                   data-page-list="[5, 10, 20]"
                   data-search="true"
                   data-row-style="getUserStats">
                <thead>
                <tr>
                    <th data-field="user_id">ID</th>
                    <th data-field="username">Username</th>
                    <th data-field="email">Email</th>
                    <th data-field="first_name">First Name</th>
                    <th data-field="last_name">Last Name</th>

                </tr>
                </thead>
            </table>
        </div>






        <!-- The Modal -->
        <div id="graphModal" style="width: 100% ;height: 100%;text-align: center" class="modal">

            <!-- Modal content -->
            <div class="modal-content"  >
                <span class="closeGraphModal">&times;</span>
                <h3 id="title"> Title </h3>
            <!-- /main -->
            <div style=" text-align: center" id ="graph-container">
            <canvas style="    position: absolute;
    top:0;
    bottom: 30%;
    left: 0;
    right: 0;
    margin:auto;" id="myChart"></canvas>

            </div>
            </div>

        </div>
        <div data-dismiss="modal" style="display: none"  data-toggle="modal"  id="patientInfo">
            <h4>Click on the graph elements for more information.</h4>



        </div>


    </div>


</div>


<!-- /main -->

<div class="modal" id="myModal2" data-backdrop="" style="opacity: 100;  padding-top:8%;   font-weight:bold;
">
    <div class="modal-dialog" >
        <div class="modal-content" style="background: peachpuff">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">×</button>
                <h4 class="modal-title">Advanced Data</h4>
            </div><div class="container"></div>
            <div class="modal-body" style="opacity: 1">

                <p id = "session_start"></p>
                <p id = "average_exhl_pressure"></p>
                <p id = "average_exhl_time"> </p>
                <p id = "successful_breaths"></p>
                <p id = "successful_huff_coughs"></p>
                <p id="unsuccessful_breaths_pressure"></p>
                <p id="unsuccessful_breaths_time"></p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>

<script src="../public/js/ClinicianDash.js"></script>

