<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <script src = "../public/js/jquery.js"></script>
    <link href="../public/css/bootstrap.min.css" rel="Stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../public/css/sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src = "../public/js/jquery.js"></script>
    <script src=  "../public/js/loadgraph.js"></script>
    <!--- Header --->


</head>
<body>



<div class="wrapper">
    <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
            <ul class="nav" id="menu">

                <li style="text-align: center"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span class="collapse in hidden-xs">Breathe Hero</span></a></li>
                <li><a href="/dashboard"><span class="collapse in hidden-xs">Dashboard</span> <i style="float: right;"
                                                                                                 class="fa fa-list"></i> </a></li>
                <li><a href="/datasubmit"> <span class="collapse in hidden-xs">Submit Data</span> <i style="float: right;"
                                                                                     class="fa fa-paperclip"></i></a>
                </li>
                <li><a href="#"> <span class="collapse in hidden-xs">Refresh</span> <i style="float: right;"
                                                                                       class="fa fa-refresh"></i></a>
                </li>
                <li><a href="/logout"><span class="collapse in hidden-xs">Logout</span> <i style="float:right;"
                                                                                           class="fa fa-sign-out"
                                                                                           aria-hidden="true"></i>
                    </a></li>
            </ul>
        </div>
        <!-- /sidebar -->

        <!-- main right col -->
        <div class="column col-sm-9 col-xs-11"  style="    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;" id="main">
            <p>
                <% if (message.length > 0) { %>
            <div style="text-align: center;"><h3 style="color:darkred"><%= message %></h3></div>
            <% } %>
            </p>
        </div>
        <!-- /main -->

        <canvas style="    position: absolute;
    top:0;
    bottom: 30%;
    left: 0;
    right: 0;
    margin:auto;" id="myChart"></canvas>
    </div>
</div>
</body>


<script>
value = ' ';
getData(value);
</script>
</html>