<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BreatheHero</title>
    <script src = "../public/js/jquery.js"></script>
    <link href="../public/css/bootstrap.min.css" rel="Stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../public/css/login.css" rel="Stylesheet" type="text/css" media="screen">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="../Public/js/login.js"></script>


</head>
<body>
<div class="wrapper">
    <h1 style="text-align: center">
    <img src="../Public/resources/BreatheHeroLogo-v2.png" alt="BreatheHero Logo" style="float:inherit;height:22%;width:22%">
    </h1>>
    
    <div class="login-page">
    <div class="form">
        <form class="register-form" id="signupform" enctype="application/x-www-form-urlencoded" name="signupform" onsubmit="validateForm(this)"
              method="post" role="form" action="javascript:;" novalidate>
            <div class="row">
                <input type="text" class="form-control"  name="username" id="username_field" required="required" placeholder="Username">
            </div>
            <div class="row">
            <input type="password" placeholder="Password" name="password" id="password" required="required"/>
        </div>
        <div class="row">
            <input type="password" placeholder="Repeat Password" name="confirm_password" id="confirm_password" required="required"/>
        </div>
        <div class="row">
            <input type="text" name="firstname" id="firstname" required placeholder="First Name"/>
        </div>
        <div class="row">
            <input type="text" placeholder="Last Name"  name="lastname" id="lastname" required="required"/>
        </div>
        <div class="row">
            <input type="email" name="email" id="email" required="required" placeholder="Email"/>
        </div>
        <div class="row">
            <button>create</button>
        </div>
            <p class="message" onclick="signin()">Already registered?  <a href="#">Sign In</a></p>
            <div class="g-recaptcha" data-sitekey="6Lff4DMUAAAAAF0xUkKDZkzT3gJAaizzuiHQbr8-"></div>
        </form>
        <form class="login-form" enctype="application/x-www-form-urlencoded" id="loginform" method="post" role="form" action="/login">
            <input type="text" placeholder="Username" name="username" id="loginusername" required="required"/>
            <input type="password" placeholder="Password" name="password" id="loginpassword" required="required"/>
            <button>login</button>
            <p id="messages" onclick="signup()" class="message">Not registered? <a href="#">Create an account</a></p>
            <a id="messages"  class="message" href="/SignUpPhysician">Clinicians sign up here</a>
            <div class="row">
                <% if (message.length > 0) { %>
                    <div style="text-align: center;"><h3 style=color:black><%= message %></h3></div>
                <% } %>
            </div>
        </form>
    </div>
</div>
</div>



<div class="footer" style="cursor: pointer" href="#" onclick="showAbout()">
    <h3 style="cursor: pointer;"> <strong>About BreatheHero</strong></h3>
    <p  id="About Information" style=" padding:5px; display: none; cursor: hand;text-align: left">Developed by University of Auckland staff Robert Gallichan, Katherine Herbert and Dr
        Christof Lutteroth,
        BreatheHero is a device that is changing the way children with chronic lung diseases complete Chest
        Physiotherapy(CPT).
        BreatheHero brings together gaming and sensors to give children increased motivation and a more enjoyable
        experience
        completing CPT exercises. Existing technology does not provide any feedback on completing CPT exercises, which
        can
        result in patients (Especially children) not being motivated to do exercises, as they are unable to track their
        data.
        BreatheHero is bringing together sensor technology and exergaming and it aims to change the lives of millions with
        chronic lung diseases</p>
</div>
</body>
<script>


    function showAbout() {
        var displayed = document.getElementById('About Information').style;
        if(displayed.display === 'none'){
            displayed.display = 'block';
        }else {
            displayed.display = 'none';
        }
    }

 function  signup() {
        document.getElementById('loginform').style.display = 'none';
        document.getElementById('signupform').style.display = 'block';

    }

    function signin() {
        document.getElementById('loginform').style.display = 'block';
        document.getElementById('signupform').style.display = 'none';

    }
</script>
</html>