<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/css/cliniciansignup.css">
    <script src = "../public/js/jquery.js"></script>
    <link href="../public/css/bootstrap.min.css" rel="Stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>
<div class="container">
    <h1 class="well">Registration Form for Clinicians</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form method="post"  enctype="application/x-www-form-urlencoded" name="SignupClinician" action="/ClinicianSignup" onsubmit="validateForm(this)">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label id="label">First Name</label>
                            <input name = "first_name" type="text" required placeholder="Enter First Name Here.." class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label id="label">Last Name</label>
                            <input name = "last_name" type="text" required placeholder="Enter Last Name Here.." class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label id="label">Title</label>
                            <input  name = "title" type="text" required placeholder="Enter Title  " class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label id="label">Clinic</label>
                            <input  name = "clinic" type="text" required placeholder="Enter Clinic Name " class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label id="label">Email Address</label>
                            <input name = "email" type="text" required placeholder="Enter Email Address " class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label id="label">Username</label>
                            <input name = "username" type="text" required placeholder="Enter User Name " class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label id="label">Password</label>

                            <input name="password" type="password" required placeholder="Enter Password " class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label id="label">Repeat Password</label>

                            <input name = "confirm_password" required type="password" placeholder="Repeat Password " class="form-control">
                        </div>

                    </div>
                    <button  class="btn btn-lg btn-info">Submit</button>
                    <div style="height: 5px"></div>
                    <div class="g-recaptcha" data-sitekey="6Lff4DMUAAAAAF0xUkKDZkzT3gJAaizzuiHQbr8-"></div>

                </div>
            </form>
        </div>
    </div>
</div>

<script src="../Public/js/clinicianForm.js"></script>

<% if (message.length > 0) { %>
<div style="text-align: center;"><h3 style="color:whitesmoke"><%= message %></h3></div>
<% } %>
</body>
</html>