.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255,255,255,0.4); /* Black w/ opacity */
}

html,body {
    display: flex;
    flex-direction: column;
}
/* Modal Content/Box */
.modal-content {
    background-color: rgba(255,255,255,0.4);
    margin:  auto; /* 15% from the top and centered */
    width: 50%; /* Could be more or less, depending on screen size */
    height: 100%;
    padding: 10px;

}

/* The Close Button */
.closeGraphModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeGraphModal:hover,
.closeGraphModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container{
    margin:auto;
    text-align: center;

}
.bootstrap-table{
    padding-left: 150px;
    position: relative;
    margin:  auto;

}

@media print {

    #graph-container{
        visibility: visible;!important

    }
    #title{
        visibility: visible;!important;
    }
    .canvas{
        top: 0;!important
        left: 0;!important
        rig
    }
    body {
        visibility: hidden;!important
    }
}
.bootstrap-table th {
    text-align: center;
}
.clearfix{
    display: none;
}

.modal-backdrop.in {
    opacity: 1 !important;
}

.buttons {
    margin: 0.8%;
    text-align: center;
    float: right;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=Cancel]{
    width: 100%;
    background-color: #ff2f33;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.header {
    text-align: left;
}