.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255,255,255,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(255,255,255,0.4);
    margin:  auto; /* 15% from the top and centered */
    width: 50%; /* Could be more or less, depending on screen size */
    height: 100%;

}

/* The Close Button */
.closeGraphModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeGraphModal:hover,
.closeGraphModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container{
    margin:auto;
    text-align: center;

}
.bootstrap-table{
    position: absolute;
    margin: 0 auto;
    width: 50% !important;

}

.bootstrap-table th {
    text-align: center;
}
.clearfix{
    display: none;
}

.modal-backdrop.in {
    opacity: 1 !important;
}